.title {
    display: flex;
    margin-top: 71px;
    color: #000;

    h1 {
        margin: 0 0 0;
        padding-left: 10px;
        font-family: 'Monda', sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

hr {
    background: #DDD;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 312px;

    label {
        color: #000;
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
    }

    input {
        max-width: 312px;
        height: 42px;
        border: 1px solid #D1D1D1;
        background: #FFF;
    }

    select {
        max-width: 312px;
        height: 42px;
        border: 1px solid #D1D1D1;
        padding: 10px;
        color: #6D6262;
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        option {
            height: 42px;
            background: #FFF;

        }
    }

    button {
        margin-top: 30px;
        border-radius: 5px;
        background: #3AB72F;
        max-width: 91px;
        max-height: 34px;
        flex-shrink: 0;
        margin-left: auto;
        text-transform: uppercase;

        color: #FFF;
        font-family: 'Monda', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}