/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #F6F6F6 !important;
}


body {
    margin: 0;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    font-family: 'Monda', sans-serif !important;
}